@keyframes slideLeft {
  0% {
    transform: translateX(100%);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-100%);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-left {
  animation: slideLeft 1.2s cubic-bezier(0.4, 0.0, 0.2, 1);
}
.animate-slide-right {
  animation: slideRight 1.2s cubic-bezier(0.4, 0.0, 0.2, 1);
}
